@font-face {
    font-family: 'AgroRegular';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroMedium';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroCondensed';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Cond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroLightCondensed';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-LightCond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'AgroRegular', sans-serif;
}
h1, h2, h3, h4, h5, .ui.menu {
    font-family: 'AgroCondensed', sans-serif;
}
#frontend {
    background-color: #ffc44c;
}
#header {
    background-color: #bb332b;
    border: 0 none;
}
#topmenu {
    font-size: .9em;
    background-color: #d13930;
    border-bottom: 4px solid #c0261d;
    padding: 10px 0;
}
#topmenu a.item {
    color: #fff;
}
#topmenu .ui.button {
    background-color: #bb332b;
    color: #fff;
}
#topmenu .ui.icon.button {
    padding: .7em .9em;;
}
#topmenu .ui.icon.button > .icon {
    font-size: 1.5em;
    padding: .1em 0 0 0;
    margin: .1em 0 .1em 0;
}
#topmenu a.item.active {
    color: #ffc44c;
    background-color: transparent;
}
#topmenu a.item.active .ui.button{
    background-color: #ffc44c;
    color: #d13930;
}


#welcome {
    background-color: #d13930;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
}
#welcome .box {
    border: 1px solid #fff
}
#welcome .headline {
    font-family: AgroLightCondensed;
}
#welcome .headline strong{
    color: #ffe034;
}
#welcome label {
    color: #fff;
    font-size: .9em;
    font-family: AgroLightCondensed;
}
#welcome label a {
    text-decoration: underline;
}
#welcome a {
    color: #ffe034;
}

#footer {
    color: #6c4848;
    font-size: .9em;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    #page-gallery .ui.container {
        margin-left: 4px !important;
        margin-right: 4px !important;;
    }
}
#page-gallery .column{
    padding: 2px;
}

#page-mechanism .ui.segment.outer {
    background-color: #fffffa;
    padding: 4px;
    box-shadow: none;
    border: 0 none;
}
#page-mechanism .ui.segment.inner {
    background-color: #fffffa;
    border-color: #fecc34;
    box-shadow: none;
}

.title {
    text-align: center;
    padding: 5px 0;
    background-color: #dc4b42;
    border-bottom: 4px solid #d6362c;
    margin-bottom: 10px;
}
h2.ui.header {
    font-size: 1.5em;
    font-family: 'AgroLightCondensed', sans-serif;
    color: #fff;
    padding: 10px 0 5px;
}
h2.ui.header strong {
    color: #ffe034;
}

.ui.button.primary {
    background-color: #5fc0f2;
    box-shadow: 2px 4px 0 0 #3287b2;
    text-shadow: 0px 1px #3287b2;
}

.ui.button.red {
    background-color: #ca372e;
    box-shadow: 2px 4px 0 0 #952922;
    text-shadow: 0px 1px #952922;
    color: #fecc34;
}

.ui.modal .header {
    text-transform: uppercase;
    font-family: AgroCondensed;
    color: #6e9e43;
}
.ui.modal > .content, .ui.modal > .content .segment {
    background-color: #fffffa;
}

.ui.modal .ui.segments, .ui.modal .ui.segment {
    border-color: #fecc34;
}
