@font-face {
    font-family: 'AgroRegular';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroMedium';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroCondensed';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-Cond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgroLightCondensed';
    src: url('/themes/bigmac/assets/fonts/AkzidenzGrotesk-LightCond.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'AgroRegular', sans-serif;
}
h1, h2, h3, h4, h5, .ui.menu {
    font-family: 'AgroCondensed', sans-serif;
}
#frontend {
    background-color: #ffc44c;
}
#header {
    background-color: #bb332b;
    border: 0 none;
}
#topmenu {
    font-size: .9em;
    background-color: #d13930;
    border-bottom: 4px solid #c0261d;
    padding: 10px 0;
}
#topmenu a.item {
    color: #fff;
}

#topmenu .ui.button {
    background-color: #bb332b;
    color: #fff;
}

#welcome {
    background-color: #d13930;
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
}
#welcome .box {
    border: 1px solid #fff
}
#welcome .headline {
    font-family: AgroLightCondensed;
}
#welcome .headline strong{
    color: #ffe034;
}
#welcome label {
    color: #fff;
    font-size: .9em;
    font-family: AgroLightCondensed;
}
#welcome label a {
    text-decoration: underline;
}
#welcome a {
    color: #ffe034;
}

#footer {
    color: #6c4848;
    font-size: .9em;
    font-weight: bold;
}


.ui.modal .title {
    text-transform: uppercase;
    font-family: AgroCondensed;
    color: #6e9e43;
}
.ui.modal > .content, .ui.modal > .content .segment {
    background-color: #fffffa;
}

.ui.modal .ui.segments {
    border-color: #fecc34;
}
